<section id = "overview">
  <div class = "col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 outer-col left">
    <div class = "field-group">
      <input type="text" class="form-control value" name="name" value = "{{ char.name }}">
      <p class = "label">CHARACTER NAME</p>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="level" value = "{{ char.level }}">
        <p class = "label">LEVEL</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="class" value = "{{ char.class }}">
        <p class = "label">CLASS</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="race" value = "{{ char.race }}">
        <p class = "label">RACE</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="background" value = "{{ char.background }}">
        <p class = "label">BACKGROUND</p>
      </div>
    </div>
    <div class = "field-group bottom">
      <input type="text" class="form-control value" name="alignment" value = "{{ char.alignment }}">
      <p class = "label">ALIGNMENT</p>
    </div>
  </div>
  <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12 outer-col right">
      <p class = "details">Lorem</p>
  </div>
</section>