<section id = "abilities">
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_strength_value" value = "{{ char.stats.strength.value }}">
        <p class = "label">STRENGTH</p>
      </div>
    </div>
    <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_strength_modifier" value = "{{ char.stats.strength.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class = "field-group">
        <input type="checkbox" name="stats_strength_saving_throw_proficient" {{#if char.stats.strength.saving_throw.proficient }} checked {{/if}} />
        <input type="text" class="form-control value" name="stats_strength_saving_throw_value" value = "{{ char.stats.strength.saving_throw.value }}">
        <p class = "label">SAVING THROW</p>
      </div>
    </div>
    <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class = "field-group">
        <input type="checkbox" name="stats_athletics_proficient" {{#if char.stats.strength.athletics.proficient }} checked {{/if}} />
        <input type="text" class="form-control value" name="stats_athletics_value" value = "{{ char.stats.strength.athletics.value }}">
        <p class = "label">ATHLETICS</p>
      </div>
    </div>
  </div>
  <div class = "col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12 outer-col left">
    <!-- <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_strength_value" value = "{{ char.stats.strength.value }}">
        <p class = "label">STRENGTH</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_strength_modifier" value = "{{ char.stats.strength.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div> -->
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_dexterity_value" value = "{{ char.stats.dexterity.value }}">
        <p class = "label">DEXTERITY</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_dexterity_modifier" value = "{{ char.stats.dexterity.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_constitution_value" value = "{{ char.stats.constitution.value }}">
        <p class = "label">CONSTITUTION</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_constitution_modifier" value = "{{ char.stats.constitution.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_wisdom_value" value = "{{ char.stats.wisdom.value }}">
        <p class = "label">WISDOM</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_wisdom_modifier" value = "{{ char.stats.wisdom.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_intelligence_value" value = "{{ char.stats.intelligence.value }}">
        <p class = "label">INTELLIGENCE</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_intelligence_modifier" value = "{{ char.stats.intelligence.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_charisma_value" value = "{{ char.stats.charisma.value }}">
        <p class = "label">CHARISMA</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <input type="text" class="form-control value" name="stats_charisma_modifier" value = "{{ char.stats.charisma.modifier }}">
        <p class = "label">MODIFIER</p>
      </div>
    </div>
      
  </div>
</section>