<section id = "overview">
  <div class = "col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 outer-col left">
      <div class = "field-group">
        <p class = "value">{{ char.name }}</p>
        <p class = "label">CHARACTER NAME</p>
      </div>
      <div class = "inner-col left">
        <div class = "field-group">
          <p class = "value">{{ char.level }}</p>
          <p class = "label">LEVEL</p>
        </div>
      </div>
      <div class = "inner-col right">
        <div class = "field-group">
          <p class = "value">{{ char.class }}</p>
          <p class = "label">CLASS</p>
        </div>
      </div>
      <div class = "inner-col left">
        <div class = "field-group">
          <p class = "value">{{ char.race }}</p>
          <p class = "label">RACE</p>
        </div>
      </div>
      <div class = "inner-col right">
        <div class = "field-group">
          <p class = "value">{{ char.background }}</p>
          <p class = "label">BACKGROUND</p>
        </div>
      </div>
      <div class = "field-group bottom">
        <p class = "value">{{ char.alignment }}</p>
        <p class = "label">ALIGNMENT</p>
      </div>
  </div>
  <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12 outer-col right">
    <p class = "details">Lorem</p>
  </div>
</section>