<section id = "abilities">
  <div class = "col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 outer-col left">
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.strength.value }}</p>
        <p class = "label">STRENGTH</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.strength.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.dexterity.value }}</p>
        <p class = "label">DEXTERITY</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.dexterity.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.constitution.value }}</p>
        <p class = "label">CONSTITUTION</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.constitution.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.wisdom.value }}</p>
        <p class = "label">WISDOM</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.wisdom.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.intelligence.value }}</p>
        <p class = "label">INTELLIGENCE</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.intelligence.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
    <div class = "inner-col left">
      <div class = "field-group">
        <p class = "value">{{ char.stats.charisma.value }}</p>
        <p class = "label">CHARISMA</p>
      </div>
    </div>
    <div class = "inner-col right">
      <div class = "field-group">
        <p class = "value">{{ char.stats.charisma.modifier }}</p>
        <p class = "label">MODIFIER</p>
      </div>
    </div>
      
  </div>
  <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12 outer-col right">
      <p class = "details">Lorem</p>
  </div>
</section>