<!-- views/index.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h2>Edit Character</h2>
        <form action="/character/<%= char._id %>/edit" method="post" name="updatecharacter">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value = "<%= char.name %>">
            </div>
            <div class="form-group">
                <label>Class</label>
                <input type="text" class="form-control" name="class" value = "<%= char.class %>">
            </div>
            <input type="hidden" value="PUT" name="_method">
            <button type="submit" class="btn btn-warning btn-lg">Update Character</button>
        </form>
        <span> <a href = "/character/<%- char._id %>/" class = "btn btn-info">Show</a></span>
        <form method = "post" name = "deletecharacter" action = "/character/<%- char._id %>/edit" style = "display: inline-block;">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class = "btn btn-danger">Delete</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>
